.nav {
    background: rgb(0, 141, 0);
    margin: 30px 50px;
    
}
 
ul {
    display: flex;
    font-size: 40px;
    justify-content: center;
 
}
 
.list {
    list-style-type: none;
    font-family: cursive;
    padding: 18px;   
    text-decoration: none;
}
 
a { 
    text-decoration: none; 
    color: rgb(255, 246, 246) 
}
 
 a:hover { 
     text-decoration: none;  
     color: rgb(226, 226, 176);
 }
 

    